---
import Navbar from "../components/Navbar.astro";
---

<Navbar title="TechEco Soluciones" />

<section>
    <h2>Contacto</h2>
    <p>¿Tienes preguntas o necesitas más información? Contáctanos:</p>
    <ul>
        <li>Correo: contacto@techeco.com</li>
        <li>Teléfono: +1 (800) 123-4567</li>
        <li>Dirección: Calle Innovación 123, Ciudad Futuro</li>
    </ul>
</section>

<style>
    section {
        padding: 2rem;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        margin-bottom: 1rem;
    }
</style>
