---
import Navbar from "../components/Navbar.astro";
import Footer from '../components/Footer.astro';
---

<Navbar title="TechEco Soluciones" />

<section>
  <h2>Bienvenidos a TechEco Soluciones</h2>
  <p>
    Transformando el futuro con innovación en AgriTech, Energía Renovable y
    Ciudades Inteligentes.
  </p>
</section>
<Footer />


<style>
  section {
    text-align: center;
    padding: 2rem;
  }
</style>
