---
import Navbar from "../components/Navbar.astro";
---

<Navbar title="TechEco Soluciones" />

<section>
    <h2>Nuestros Productos y Servicios</h2>
    <ul>
        <li>Laboratorio de Desarrollo</li>
        <li>IoT para AgriTech Inteligente</li>
        <li>Sistemas de Energía Renovable</li>
        <li>Soluciones para Ciudades Inteligentes</li>
    </ul>
</section>

<style>
    section {
        padding: 2rem;
    }
</style>
